// ==================================================
// IMAGE
// ==================================================

.fit-cover {
  @include image-fit(cover);
}

.fit-contain {
  @include image-fit(contain);
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
