<page-header title="Scrobbles em Cache"></page-header>

<ng-container *ngIf="facade.tracks$ | async as tracks">
  <ng-container *ngIf="tracks.length > 0; else noTracks">
    <mat-nav-list>
          <div class="actions">
            <button
              (click)="facade.scrobbleAllAndClearCache(tracks)"
              class="actions-scrobble-all"
              mat-raised-button
              color="primary">
              <mat-icon>send</mat-icon>Scrobblar tudo
            </button>
            <button
              (click)="facade.clear()"
              class="actions-clear"
              mat-raised-button
              color="warn">
              <mat-icon>delete</mat-icon>Limpar
            </button>
          </div>
          <mat-list-item *ngFor="let track of tracks">
            <a matLine>{{ track.artist }}</a>
            <a matLine>{{ track.song }}</a>
            <button mat-icon-button color="primary" (click)="facade.scrobbleAndRemoveFromCache(track)">
              <mat-icon>send</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="facade.remove(track.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
    </mat-nav-list>
  </ng-container>
</ng-container>

<ng-template #noTracks>
  <h3 style="text-align: center;">Não há faixas no cache!</h3>
</ng-template>

