.item-thumbnails {
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.info {
  padding: 1rem;
  position: relative;
  &::before {
    // for apsect ratio
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  &::after {
    background-image: linear-gradient(180deg,transparent 0,rgba(0,0,0,.35) 70%,rgba(0,0,0,.7));
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  img {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.info-inner {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 40;
  font-size: 12px;
    line-height: 18px;
    text-shadow: 0 0 10px rgba(0,0,0,.7);
    bottom: 5px;
    left: 5px;
    margin: 0;
}

.c__name {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1px;
}

.c__label {
 font-weight: 700;
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  display: grid;
}
