<ng-container *ngIf="topArtists">
  <app-user-periods
    [info]="topArtists.info"
    (changePeriod)="changePeriod.emit($event)"
  ></app-user-periods>
  <div class="item-thumbnails">
    <div class="grid">
      <div *ngFor="let artist of topArtists.artists" class="info add-cursor-pointer" [routerLink]="['/artist', artist.name]">
        <div class="info-inner">
          <h3 class="c__name">{{ artist.name }}</h3>
          <div class="label">
            <span class="c__label">{{ artist.playcount | textPlaysPlural}}</span>
          </div>
        </div>
        <img [src]="artist.image">
      </div>

    </div>

    <app-lastfm-paginator
      [info]="topArtists.info"
      (changePage)="changePage.emit($event)"
    ></app-lastfm-paginator>
  </div>
</ng-container>
