<mat-card *ngIf="facade.profile$ | async as profile">
  <mat-tab-group class="m--16">
    <mat-tab label="Últimos Scrobbles">
      <app-user-recent-tracks
        [recentTracks]="facade.recentTracks$ | async"
        (openTrackInfo)="openTrackOptions($event)"
        (changePage)="changeRecentTracksPagination(profile.name, $event)"
      ></app-user-recent-tracks>
    </mat-tab>
    <mat-tab label="Artistas">

      <div class="item-thumbnails" *ngIf="facade.topArtists$ | async as topArtists">
        <div class="grid">
          <div *ngFor="let artist of topArtists.artists" class="info">
            <div class="info-inner">
              <h3 class="c__name">{{ artist.name }}</h3>
              <div class="label">
                <span class="c__label">{{ artist.playcount }} Reproduções</span>
              </div>
            </div>
            <img [src]="artist.image">
          </div>

        </div>
        <mat-paginator
          [length]="topArtists.info.total"
          [pageSize]="topArtists.info.perPage"
          [pageSizeOptions]="[5, 10, 20, 30, 40, 50]"
          (page)="changeTopArtistsPagination(profile.name, $event)"
        >
        </mat-paginator>
      </div>

    </mat-tab>
    <mat-tab label="Álbuns">

      <div class="item-thumbnails" *ngIf="facade.topAlbums$ | async as topAlbums">
        <div class="grid">
          <div *ngFor="let album of topAlbums.albums" class="info">
            <div class="info-inner">
              <h3 class="c__name">{{ album.name }}</h3>
              <div class="label">
                <span class="c__label">{{ album.artist }}</span>
                <span class="c__label">{{ album.playcount }} Reproduções</span>
              </div>
            </div>
            <img [src]="album.image">
          </div>
        </div>
        <mat-paginator [length]="topAlbums.info.total"
          [pageSize]="topAlbums.info.perPage"
          [pageSizeOptions]="[5, 10, 20, 30, 40, 50]"
          (page)="changeTopAlbumsPagination(profile.name, $event)"
        ></mat-paginator>
      </div>

    </mat-tab>
    <mat-tab label="Faixas">
      <app-user-top-tracks
        [topTracks]="facade.topTracks$ | async"
        (openTrackInfo)="openTrackOptions($event)"
        (changePage)="changeTopTracksPagination(profile.name, $event)"
      >
      </app-user-top-tracks>
    </mat-tab>
  </mat-tab-group>
</mat-card>
