<mat-card *ngIf="facade.profile$ | async as profile">
  <mat-tab-group class="m--16">
    <mat-tab label="Últimas Faixas">
      <div class="m-16">
        <mat-list *ngIf="facade.recentTracks$ | async as recentTracks">
          <mat-list-item class="add-cursor-pointer" *ngFor="let track of recentTracks.tracks" (click)="openTrackOptions(track)">
            <img [src]="track.albumImage" [alt]="track.album">
            <div mat-line> {{ track.song }} </div>
            <div mat-line>{{ track.artist }}</div>
            <div class="track-timestamp" mat-line>
              <span *ngIf="track.nowPlaying" class="track-timestamp">
                <mat-icon class="now-playing">headset</mat-icon>
                Ouvindo agora
              </span>
              <small *ngIf="track.timestamp" class="track-timestamp">{{ track.timestamp | fromNow }}</small>
            </div>

          </mat-list-item>

          <mat-paginator [length]="recentTracks.info.totalPages"
               [pageSize]="recentTracks.info.perPage"
               [pageSizeOptions]="[5, 10, 20, 30, 40, 50]"
               (page)="changePagination(profile.name, $event)"
               >
          </mat-paginator>
        </mat-list>

      </div>
    </mat-tab>
    <mat-tab label="Artistas">

      <div *ngIf="facade.topArtists$ | async as topArtists" class="grid">
        <div *ngFor="let artist of topArtists.artists" class="info">
          <div class="info-inner">
            <h3 class="c__name">{{ artist.name }}</h3>
            <div class="label">
              <span class="c__label">{{ artist.playcount }} Reproduções</span>
            </div>
          </div>
          <img [src]="artist.image">
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Álbuns">

      <div *ngIf="facade.topAlbums$ | async as topAlbums" class="grid">
        <div *ngFor="let album of topAlbums.albums" class="info">
          <div class="info-inner">
            <h3 class="c__name">{{ album.name }}</h3>
            <div class="label">
              <span class="c__label">{{ album.artist }}</span>
              <span class="c__label">{{ album.playcount }} Reproduções</span>
            </div>
          </div>
          <img [src]="album.image">
        </div>
      </div>

    </mat-tab>

  </mat-tab-group>
</mat-card>
