<page-header
  title="Realizar Scrobbles em Bulk"
  subtitle="Descreva em cada linha o artista, a música e o álbum separados por hífen (-)"
  [showBreadCrumb]="false">
</page-header>

<form [formGroup]="scrobbleForm" (submit)="scrobble()">
  <mat-form-field>
    <mat-label>O artista e a música são obrigatórios</mat-label>
    <textarea
      matInput
      formControlName="textScrobble"
      rows="20"
      placeholder="Exemplo:
Pink Floyd - Time - The Dark Side of the Moon
Radiohead - Paranoid Android - Ok Computer
Porcupine Tree - Trains"
    >
    </textarea>
  </mat-form-field>

  <div class="button-form">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="scrobbleForm.invalid || loadingRequest">
      {{ loadingRequest ? 'Enviando...' : 'Enviar Scrobbles' }}</button>
  </div>
</form>

