@import '~@angular/material/theming';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

//
// Dark style
//
$primary: mat-palette($mat-blue-gray);
$secondary: mat-palette($mat-gray);
$accent: mat-palette($mat-amber, A200, A100, A400);
$warn: mat-palette($mat-deep-orange);
$theme: mat-dark-theme($primary, $accent, $warn);

$config: mat-typography-config();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

//
// Matero theme
//
@import 'app/theme/style/theming';

@include matero-admin-theme($theme);
