<div class="m-16" *ngIf="topTracks; else loading">
  <app-user-periods
    [info]="topTracks.info"
    (changePeriod)="change.emit({
      period: $event,
      limit: topTracks.info.perPage,
      page: topTracks.info.page
    })"
  ></app-user-periods>
  <mat-list>
    <mat-list-item class="add-cursor-pointer" *ngFor="let track of topTracks.tracks" (click)="openTrackInfo.emit(track)">
      <img [src]="track.albumImage" [alt]="track.song">
      <div mat-line> {{ track.song }} </div>
      <div mat-line>{{ track.artist }}</div>
      <div mat-line>{{ track.playcount | textPlaysPlural }}</div>

    </mat-list-item>

    <app-lastfm-paginator
      [info]="topTracks.info"
      (changePage)="change.emit({
        period: topTracks.info.period,
        limit: $event.limit,
        page: $event.page
      })"
    ></app-lastfm-paginator>
  </mat-list>

</div>

<ng-template #loading>
  <mat-spinner class="margin-auto"></mat-spinner>
</ng-template>
