<div class="m-16" *ngIf="topTracks">
  <mat-list>
    <mat-list-item class="add-cursor-pointer" *ngFor="let track of topTracks.tracks" (click)="openTrackInfo.emit(track)">
      <img [src]="track.image" [alt]="track.song">
      <div mat-line> {{ track.song }} </div>
      <div mat-line>{{ track.artist }}</div>
      <div mat-line>{{ track.playcount }} Reproduções</div>

    </mat-list-item>

    <app-lastfm-paginator
      [info]="topTracks.info"
      (changePage)="changePage.emit($event)"
    ></app-lastfm-paginator>
  </mat-list>

</div>
