<ng-container *ngIf="topAlbums">
  <app-user-periods
    [info]="topAlbums.info"
    (changePeriod)="change.emit({
      period: $event,
      limit: topAlbums.info.perPage,
      page: topAlbums.info.page
    })"
  ></app-user-periods>
  <div class="item-thumbnails">
    <div class="grid">
      <div *ngFor="let album of topAlbums.albums" class="info">
        <div class="info-inner">
          <h3 class="c__name">{{ album.name }}</h3>
          <div class="label">
            <span class="c__label">{{ album.artist }}</span>
            <span class="c__label">{{ album.playcount | textPlaysPlural }}</span>
          </div>
        </div>
        <img [src]="album.image">
      </div>
    </div>
    <app-lastfm-paginator
      [info]="topAlbums.info"
      (changePage)="change.emit({
        period: topAlbums.info.period,
        limit: $event.limit,
        page: $event.page
      })"
    ></app-lastfm-paginator>
  </div>
</ng-container>
