<div class="track-info">
  <img [src]="data.albumImage" [alt]="data.album">
  <div>
    <div>Faixa: {{ data.song }}</div>
    <div>Artista: {{ data.artist }}</div>
    <div *ngIf="data.album">Álbum: {{ data.album }}</div>
  </div>
</div>
<mat-nav-list>
  <a (click)="scrobble()" mat-list-item>
    <mat-icon matListIcon>send</mat-icon>
    <span mat-line>Scrobblar Faixa</span>
  </a>
  <a [routerLink]="['/artist', data.artist]" (click)="onClose.emit()" mat-list-item>
    <mat-icon matListIcon>star_rate</mat-icon>
    <span mat-line>Visualizar Artista</span>
  </a>
</mat-nav-list>
