<div class="matero-row" fxLayout="row wrap" *ngIf="facade.artist$ | async as artist">

  <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card>
      <div class="m-16">
        <div [ngClass]="artist.imageWithLogo ? 'artist-wide-image' : 'artist-image'">
          <img [src]="artist.imageWithLogo || artist.image" [alt]="artist.name">
        </div>
        <h2>{{ artist.name }}</h2>
        <mat-chip-list>
          <mat-chip class="artist-tag" *ngFor="let tag of artist.tags">{{ tag }}</mat-chip>
        </mat-chip-list>
        <p>{{ artist.biography }}</p>
      </div>

    </mat-card>

    <!-- <mat-card>
      <mat-card-subtitle>Album</mat-card-subtitle>
      <mat-card-content>
        <mat-grid-list cols="2">
          <mat-grid-tile class="bg-red-50">1</mat-grid-tile>
          <mat-grid-tile class="bg-purple-50">2</mat-grid-tile>
          <mat-grid-tile class="bg-orange-50">3</mat-grid-tile>
          <mat-grid-tile class="bg-cyan-50">4</mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card> -->
  </div>

  <!-- <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card>
      <mat-card-subtitle>Avatar List</mat-card-subtitle>
      <mat-list>
        <mat-list-item *ngFor="let message of messages">
          <img matListAvatar [src]="message.img" alt="">
          <h3 matLine> {{message.subject}} </h3>
          <p matLine>
            <span>{{message.content}} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card>
      <mat-card-subtitle>Revenue Table</mat-card-subtitle>
      <mat-card-content>
        <table class="w-full" mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element;"> {{element.position}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element;"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element;"> {{element.weight}} </td>
          </ng-container>
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element;"> {{element.symbol}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div> -->
</div>
