.hero {
  // background-image: url(../img/hero.jpg);
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 30vh;

}

.artist-image {
  width: 100%;
}

.artist-tag {
  font-size: 12px;
  min-height: 27px;
}
