.hero {
  // background-image: url(../img/hero.jpg);
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 30vh;

}

.artist-image {
  width: 100%; /*container-width*/
  overflow: hidden; /*hide bounds of image */
  margin: 0;   /*reset margin of figure tag*/

  & > img {
    display: block; /*remove inline-block spaces*/
   width: 100%; /*make image streatch*/
   margin: -21.875% 0;
  }
}

.artist-wide-image {
  & > img {
    width: 100%;
  }
}

.artist-tag {
  font-size: 12px;
  min-height: 27px;
}
